<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/head')%>
        <%- include('partials/navigation') %>
            <div id="app" class="flex flex-col min-h-screen">
                <main class="flex-1">

                    <section
                        class="w-full py-12 md:py-24 lg:py-32 xl:py-48 bg-gray-200 dark:bg-gray-800 mb-8 seccion-destacada-titulos bg-custom-image-title">
                        <div class="container px-4 xl:px-6">
                            <div class="flex flex-col justify-center space-y-4">
                                <div class="space-y-2">
                                    <h1 class="titulo text-3xl font-bold sm:text-5xl xl:text-6xl/none ">
                                        Excavaciones y demoliciones, suministro de materiales, fletes y renta de
                                        maquinaria Mendoza García
                                    </h1>
                                    <p class="textoRAMIR">
                                        Contamos con ramir vigente RA-UTI-01-11-01/2023 para excavaciones, demoliciones
                                        y manejo de residuos especiales
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section
                        class="w-full py-12 md:py-24 lg:py-32 xl:py-48 bg-gray-200 dark:bg-gray-800 mb-8 seccion-destacada-contenido">
                        <div class="container px-4 xl:px-6">
                            <div class="flex flex-col justify-center space-y-4">
                                <div class="space-y-2">
                                    <h3
                                        class="espaciadoCentrado text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
                                        <div class="container-xl" style="color: white;">Misión</div>
                                    </h3>
                                    <p class="parrafo"> La misión de nuestra empresa es brindar servicios de Demolición
                                        y Excavación de la mejor calidad en conjunto con la venta de materiales para
                                        construcción y la renta de maquinaria especializada con el objetivo de
                                        satisfacer las necesidades de nuestros clientes de manera satisfactoria,
                                        confiable y eficiente. Tenemos el compromiso de ser líderes en nuestro sector,
                                        proporcionando soluciones que contribuyan al éxito de los proyectos de
                                        construcción, por ello contamos con el registro y autorización para el manejo
                                        integral de residuos “RAMIR”, manteniendo siempre un enfoque en la excelencia,
                                        la responsabilidad ambiental y la satisfacción del cliente.
                                    </p>
                                    <h3
                                        class="espaciadoCentrado text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
                                        <div class="container-xl" style="color: white;">Visión</div>
                                    </h3>
                                    <p class="parrafo">Nuestra visión es convertirnos en un referente destacado en el
                                        sector, siendo la opción preferida tanto por nuestros clientes como por nuestros
                                        socios, gracias a nuestra excelencia operativa, continua innovación y compromiso
                                        con la sostenibilidad. Buscamos expandir nuestra presencia geográfica y
                                        fortalecer nuestras capacidades técnicas, destacándonos en la industria por
                                        nuestra integridad y capacidad para ofrecer soluciones eficientes en cada
                                        proyecto. Aspiramos a liderar en seguridad laboral, desarrollo de soluciones y
                                        métodos de trabajo, buscando constantemente mejorar nuestra eficiencia y
                                        productividad.</p>
                                </div>
                            </div>
                        </div>
                    </section>


                    <section id="services"
                        class="py-12 md:py-24 lg:py-32 bg-gray-100 dark:bg-gray-800 dividirSecciones">
                        <div class="container">
                            <h2 class="text-center text-3xl font-bold tracking-tighter sm:text-5xl"
                                style="color: white;">
                                Nuestros servicios
                            </h2>
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
                                <!-- Ajustado: Agregado justify-content-center -->
                                <div class="col">
                                    <div class="card h-100 w-full">
                                        <div class="card-body">
                                            <img src="/img/Rentamaquinaria.webp" class="card-img-top"
                                                alt="imagen no disponible">
                                            <h5 class="card-title textosEspecificos">Renta de maquinaria</h5>
                                            <p class="card-text" style="color: white;">
                                                Excavadoras: 320c, 312b, 315c. Minicargadores: Caterpillar y Bobcat
                                                Mini cargador con orugas
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100b w-full">
                                        <div class="card-body">
                                            <img src="/img/AguaPotable.webp" class="card-img-top"
                                                alt="imagen no disponible">
                                            <h5 class="card-title textosEspecificos">Otros servicios</h5>
                                            <p class="card-text" style="color: white;">
                                                Fletes de maquinaria, suministro de agua potable,
                                                contrato de prestación de servicios para excavaciones y demoliciones
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="materials" class="w-full py-12 md:py-24 lg:py-32 seccion-destacada-contenido">
                        <div class="container px-4 md:px-6" style="color: white;">
                            <h2 class="espaciadoCentrado text-3xl font-bold tracking-tighter sm:text-5xl">
                                Materiales
                            </h2>
                            <div class="grid gap-6 lg:grid-cols-3 lg:gap-12 xl:grid-cols-3">
                                <div class="row row-cols-1 row-cols-md-3 g-4">
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="/img/arena.webp" class="card-img-top" alt="imagen no disponible">
                                            <div class="card-body">
                                                <h5 class="card-title">ARENA</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="/img/grava.webp" class="card-img-top" alt="imagen no disponible">
                                            <div class="card-body">
                                                <h5 class="card-title">GRAVA</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="/img/Hormigon.webp" class="card-img-top"
                                                alt="imagen no disponible">
                                            <div class="card-body">
                                                <h5 class="card-title">HORMIGON</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="/img/Tepatate.webp" class="card-img-top"
                                                alt="imagen no disponible">
                                            <div class="card-body">
                                                <h5 class="card-title">TEPETATE</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="/img/Tezontle.webp" class="card-img-top"
                                                alt="imagen no disponible">
                                            <div class="card-body">
                                                <h5 class="card-title">TEZONTLE</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <img src="/img/MaterialesEspeciales.webp" class="card-img-top"
                                                alt="imagen no disponible">
                                            <div class="card-body">
                                                <h5 class="card-title">MATERIALES ESPECIALES</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="espaciadoCentrado" style="color: white;">
                                    <h2 class="espaciadoCentrado text-3xl font-bold tracking-tighter">
                                        (Procuramos que nuestros materiales sean de la mejor calidad y al mejor precio)
                                    </h2>
                                </div>
                            </div>
                        </div>
            </div>
            </section>

            <section id="projects" class="w-full h-screen py-12 md:py-24 lg:py-32 bg-gray-100 dark:bg-gray-800">
                <div class="container-fluid px-0 h-1/2 flex justify-center items-center">
                    <h2 class="espaciadoCentrado text-3xl font-bold tracking-tighter sm:text-5xl">
                        Nuestros proyectos realizados
                    </h2>
                </div>
                <div class="grid gap-6 lg:grid-cols-5 lg:gap-12 xl:grid-cols-5">
                    <div class="row row-cols-1 row-cols-md-5 g-4">
                        <div class="col">
                            <div class="card" style="height: 100%;">
                                <img src="/img/Vertical1.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="height: 100%;">
                                <img src="/img/Vertical2.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="height: 100%;">
                                <img src="/img/Vertical3.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="height: 100%;">
                                <img src="/img/Vertical4.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card" style="height: 100%;">
                                <img src="/img/Vertical5.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/Horizontal2.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/Horizontal3.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/Horizontal4.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/Horizontal1.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="/img/Horizontal5.webp" class="card-img-top" alt="imagen no disponible">
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section id="testimonials" class="w-full py-12 md:py-24 lg:py-32">
                <div class="container px-4 md:px-6 d-flex flex-column flex-lg-row" style="margin-top: 2rem;">
                    <div class="col-lg-6">
                        <h2 class="espaciadoCentrado text-3xl font-bold tracking-tighter sm:text-5xl">
                            Empresas con las que hemos colaborado
                        </h2>
                    </div>
                    <div class="col-lg-6 d-flex flex-row">
                        <ul class="list-group list-group-flush transparent-grid">
                            <li class="list-group-item transparent-grid">Constructora buen hogar</li>
                            <li class="list-group-item transparent-grid">Constructora EAPRO</li>
                            <li class="list-group-item transparent-grid">Constructora arquica</li>
                            <li class="list-group-item transparent-grid">Grupo UBK</li>
                        </ul>
                        <ul class="list-group list-group-flush transparent-grid">
                            <li class="list-group-item transparent-grid">Grupo Urbina</li>
                            <li class="list-group-item transparent-grid">Grupo Urbana</li>
                            <li class="list-group-item transparent-grid">Grupo Arco</li>
                            <li class="list-group-item transparent-grid">Constructora Mozaco</li>
                        </ul>
                    </div>
                </div>
            </section>




            <section class="w-full py-12 md:py-24 lg:py-32 xl:py-48 bg-gray-200 dark:bg-gray-800 mb-8 seccion-destacada-contenido dividirSecciones">
                <div class="container px-4 md:px-6 mx-auto d-flex align-items-center" style="color: white;">
                    <div class="row w-full max-w-2xl">
                        <div class="col-12">
                            <h2 class="espaciadoCentrado text-3xl font-bold tracking-tighter sm:text-5xl text-center">
                                Contactanos
                            </h2>
                        </div>
                        <div class="col-lg-6">
                            <!-- Tus divs de contacto aquí -->
                            <div class="space-y-2 d-flex justify-content-end">
                                <div class="w-50">
                                    <div class="space-y-2">
                                        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="name">IVAN MENDOZA GARCIA</label>
                                    </div>
                                    <div class="space-y-2">
                                        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="name">mendozagivan@hotmail.com</label>
                                    </div>
                                    <div class="space-y-2">
                                        <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70" for="name">55-14-69-35-28/55-31-31-92-14</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <!-- Div con el mensaje -->
                            <div class="space-y-2">
                                <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 espaciadoCentradoContacto" for="name">
                                    ¡Estamos aquí para responder a todas tus preguntas y proporcionarte cotizaciones rápidas! En nuestra empresa de demolición y excavación, estamos dedicados a brindarte un servicio excepcional. No dudes en ponerte en contacto con nosotros para cualquier consulta o cotización que necesites. ¡Estamos a tus órdenes y listos para ayudarte en cada paso del camino hacia tu proyecto perfecto!
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            


            </section>
            </main>
            </div>
            <%- include('partials/footer') %>
</body>

</html>